@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  margin: 0;
  font-family: "Quicksand", Arial;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background: url('./assets/Images/background4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  padding-left:20px;
  padding-right:20px;
}